<div style="width: 200px;">
  <skeleton-drop-down placeholder="my awsome placholder">
    <p style="margin-right: 10px;" prefix>P</p>
    <p style="margin-left: 10px;" suffix>A</p>
    <skeleton-drop-down-element value="my value"> 
      <div element-template style="background-color: pink; width: 100%;"> 
        <ul>
          <li>one</li>
          <li>two</li>
        </ul>
      </div> 
    </skeleton-drop-down-element>
    <skeleton-drop-down-element value="my value 2" text="my rendered text"></skeleton-drop-down-element>
  </skeleton-drop-down>
</div>
<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum deleniti maxime accusantium quasi dolor similique! Unde expedita tempora natus eligendi, ea aliquam architecto consequatur nam iure sapiente, atque accusantium! Sunt?</p> -->